In [1]:
import pandas as pd

#### Tek Boyutlu Veri Seri Kullanılır

In [3]:
seri1 = pd.Series(["Ali","Veli","Ayşe","Fatma"])
seri1

0      Ali
1     Veli
2     Ayşe
3    Fatma
dtype: object

In [4]:
seri2 = pd.Series([25,30,64,19])
seri2

0    25
1    30
2    64
3    19
dtype: int64

#### İki Boyutlu Veri için DataFrame Kullanılır

In [6]:
dfYas = pd.DataFrame({"İsim":seri1,"Yas":seri2})
dfYas

    İsim  Yas
0    Ali   25
1   Veli   30
2   Ayşe   64
3  Fatma   19